*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: Inter, sans-serif;
}

nav {
  display: flex;
  align-items: center;
  background-color: #21222A;
  height: 90px;
  padding: 30px 25px;
}

.nav--logo_text, .nav--title {
  margin: 0;
}

.nav--logo_text {
  margin-right: auto;
  color: #61DAFB;
  font-weight: 700;
  font-size: 22px;
}

.nav--title {
  color: #DEEBF8;
  font-weight: 600;
}

.nav--icon {
  height: 30px;
  margin-right: 7px;
}

.main {
  background: #272E34;
  height: 100vh;
  padding: 4rem;
  flex-direction: column;
  align-items: center;
}

.main h1 {
  color: #FCFFFF;
  font-size: 3.5rem;
  padding: 2rem;
}

.main ul {
  color: #FCFFFF;
  opacity: .7;
  font-size: 1.5rem;
  margin-left: 6rem;
  list-style-type: none;
}

.main ul li {
  margin-top: 1rem;
}

.main ul li::before {
  content: "\2022";
  color: #60DBFA;
  font-weight: bold;
  display: inline-block; 
  width: 1em;
  margin-left: -1em;
}